{% extends 'index.html.twig' %}

{% block code %}
{% verbatim %}
    <p>
        {% if 'hello twig' is constant('TEST', object) %}
            the status attribute is exactly the same as object
        {% endif %}
    </p>
{% endverbatim %}
{% endblock code %}

{% block sample %}
    <p>
        {% if 'hello twig' is constant('TEST', object) %}
            the status attribute is exactly the same as object
        {% endif %}
    </p>
{% endblock sample %}
