{% extends 'index.html.twig' %}

{% block code %}
{% verbatim %}
    <p>
        {% if var is not defined and foo.method(var) is not defined %}
            This variables not defined
        {% endif %}
    </p>
{% endverbatim %}
{% endblock code %}

{% block sample %}
    <p>
        {% if var is not defined and foo.method(var) is not defined %}
            This variables not defined
        {% endif %}
    </p>
{% endblock sample %}
