{% extends 'index.html.twig' %}

{% block code %}
{% verbatim %}
    <p>
        {% if foo.attribute is same as(null) %}
            the foo attribute really is the 'null' PHP value
        {% endif %}
    </p>
{% endverbatim %}
{% endblock code %}

{% block sample %}
    <p>
        {% if foo.attribute is same as(null) %}
            the foo attribute really is the 'null' PHP value
        {% endif %}
    </p>
{% endblock sample %}