{% extends 'index.html.twig' %}

{% block sample %}
    <p>
        {% filter upper %}
            This text becomes uppercase
        {% endfilter %}
    </p>
    <p>
        {% filter lower|escape %}
            <strong>SOME TEXT</strong>
        {% endfilter %}
    </p>
{% endblock sample %}
