{% extends 'index.html.twig' %}

{% block sample %}
    <p>
    {% verbatim %}
        <ul>
        {% for item in seq %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    {% endverbatim %}
    </p>
{% endblock sample %}
