{% extends 'index.html.twig' %}

{% block sample %}
    <p>
        {{ block('index') }}
    </p>
    <p>
        {{ block('index') }}
    </p>
    <p>
        {{ block('index') }}
    </p>
{% endblock sample %}
