{% extends 'index.html.twig' %}

{% block code %}
{% verbatim %}
    {% set name = 'Name' %}
    <p>
        {{ constant('TEST', object) }}
    </p>
{% endverbatim %}
{% endblock code %}

{% block sample %}
    {% set name = 'Name' %}
    <p>
        {{ constant('TEST', object) }}
    </p>
{% endblock sample %}
