{% extends 'index.html.twig' %}

{% block code %}
{% verbatim %}
    {% set name = 'Name' %}
    <p>
        {{ include(template_from_string("Hello {{ name }}")) }}
    </p>
{% endverbatim %}
{% endblock code %}

{% block sample %}
    {% set name = 'Name' %}
    <p>
        {{ include(template_from_string("Hello {{ name }}")) }}
    </p>
{% endblock sample %}
