{% extends 'index.html.twig' %}

{% block code %}
{% verbatim %}
    <p>
        {{ 'my first car'|capitalize }}

        {# outputs 'My first car' #}
    </p>
{% endverbatim %}
{% endblock code %}

{% block sample %}
    <p>
        {{ 'my first car'|capitalize }}

        {# outputs 'My first car' #}
    </p>
{% endblock sample %}
