{% extends 'index.html.twig' %}

{% block sample %}
    <p>
        Format filter its alias for REPLACE
    </p>
    <p>
        {{ "I like %s and %s."|format(foo, "bar") }}
    </p>
    {% set foo = '11111' %}
    <p>
        {{ "I like %s and %s."|format(foo, "bar") }}
    </p>
{% endblock sample %}

