{% extends 'index.html.twig' %}

{% block sample %}
    {% set arr = { 'apple': 'fruit', 'orange': 'fruit' } %}
    <p>
        {% for key in arr|keys %}
            {{ key }}
        {% endfor %}
    </p>
{% endblock sample %}

