{% extends 'index.html.twig' %}

{% block code %}
{% verbatim %}
    <p>
        {{ [1, 2, 3, 4]|last }}
        {# outputs 4 #}

        {{ { a: 1, b: 2, c: 3, d: 4 }|last }}
        {# outputs 4 #}

        {{ '1234'|last }}
        {# outputs 4 #}
    </p>
{% endverbatim %}
{% endblock code %}

{% block sample %}
    <p>
        {{ [1, 2, 3, 4]|last }}
        {# outputs 4 #}

        {{ { a: 1, b: 2, c: 3, d: 4 }|last }}
        {# outputs 4 #}

        {{ '1234'|last }}
        {# outputs 4 #}
    </p>
{% endblock sample %}
