{% extends 'index.html.twig' %}

{% block code %}
{% verbatim %}
    <p>
        {{ 'WELCOME'|lower }}

        {# outputs 'welcome' #}
    </p>
{% endverbatim %}
{% endblock code %}

{% block sample %}
    <p>
        {{ 'WELCOME'|lower }}

        {# outputs 'welcome' #}
    </p>
{% endblock sample %}
