{% extends 'index.html.twig' %}

{% block sample %}
    <p>
        {{ "I like Twig.\nYou will like it too."|nl2br }}
        {# outputs

            I like Twig.<br />
            You will like it too.

        #}
    </p>
{% endblock sample %}
