{% extends 'index.html.twig' %}

{% block code %}
{% verbatim %}
    <p>
        {{ 'welcome'|upper }}

        {# outputs 'WELCOME' #}
    </p>
{% endverbatim %}
{% endblock code %}

{% block sample %}
    <p>
        {{ 'welcome'|upper }}

        {# outputs 'WELCOME' #}
    </p>
{% endblock sample %}
